rt-voice_test/Assembly-CSharp-Editor-firstpass.csproj
rt-voice_test/Assembly-CSharp.csproj
rt-voice_test/Assembly-CSharp-Editor.csproj
rt-voice_test/Assembly-CSharp-firstpass.csproj
rt-voice_test/Library/
rt-voice_test/Logs/
rt-voice_test/rt-voice_test_BurstDebugInformation_DoNotShip/
rt-voice_test/rt-voice_test.sln
rt-voice_test/UserSettings/
rt-voice_test/Temp/